asgiref==3.11.1
certifi==2026.6.17
charset-normalizer==3.4.7
crispy-bootstrap4==2026.2
distlib==0.4.1
Django==6.0.6
django-crispy-forms==2.6
filelock==3.29.1
gunicorn==26.0.0
idna==3.18
packaging==26.2
pillow==12.2.0
platformdirs==4.10.0
python-discovery==1.4.0
requests==2.34.2
six==1.17.0
sqlparse==0.5.5
tzdata==2026.2
urllib3==2.7.0
virtualenv==21.4.2
whitenoise==6.9.0
